# ephemeral disks (coma separated list)
DISKS=/dev/sdc

# filesystem type
MOUNT_FSTYPE=ext4

# mount options
MOUNT_OPTIONS="defaults,nofail,noatime,nodev,nosuid"

# mountpoint *** DON'T CHANGE THIS SETTING ***
MOUNT_PATH=/mnt/resource

# destroy on stop
DESTROY_ON_STOP=1
